<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo blue-gradient">
  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">SkillsApp</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect>Craftsmanship<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/register">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/allskill">All Skills</a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/myskill">My Skill</a>
          </li>
      </ul>
      <!-- Links -->

<!-- Search form -->
      <div class="form-inline waves-light" >
          
          <ul class="navbar-nav mr-auto">
             <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Profil<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/addskill">Add</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="#">Logout</a>
               
            </div>
        </li>

          </ul>
        </div>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->