<!-- Card Regular -->
<div class="card card-cascade">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
  
      <!-- Title -->
      <h4 class="card-title"><strong>{{email}}</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
      <!-- Text -->
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
      </p>
      
      <a class="btn btn-primary" (click)="editForm(item.$key)"  data-toggle="modal" data-target="#basicExampleModal"  ><span><i class="fas fa-edit"></i>Edit</span></a>
  
    </div>

       <!-- Modal -->
       <div class="modal fade" id="basicExampleModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Edit Skill</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body">
               
               <div class="form-row mb-4">
                   <div class="col">
                       <!-- First name -->
                       <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name" name="firstname" [(ngModel)]="data.firstname" > 
                   </div>
                   <div class="col">
                       <!-- Last name -->
                       <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name"  name="lastname" [(ngModel)]="data.lastname">
                   </div>
               </div>
             
               <!-- E-mail -->
               <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail" name="email" [(ngModel)]="data.email">
             
               <!-- Skill name -->
               <input type="text" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Skill Name" name="skillname" [(ngModel)]="data.skillname">
             
               <!-- Price -->
               <input type="number" id="defaultRegisterFormPrice" class="form-control mb-4" placeholder="Price" name="price" [(ngModel)]="data.price">
             
               <!-- City -->
               <input type="text" id="defaultRegisterFormcity" class="form-control" placeholder="City" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="city" [(ngModel)]="data.city">
               <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
               
               </small>
             
               <!-- Phone number -->
               <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock" name="phone" [(ngModel)]="data.phone">
               <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                   
               </small>
             
               <div class="form-group purple-border">
                 <textarea class="form-control" id="exampleFormControlTextarea4" placeholder="Describe yourself here..."  rows="3" name="description" [(ngModel)]="data.description" ></textarea>
               </div>  
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
             <button type="button" class="btn btn-primary" (click)="onEdit(item.$key)" >Edit</button>
           </div>
         </div>
       </div>
       </div>
  
  </div>
  <!-- Card Regular -->
  Cascadin