<br>
<!-- Card Narrower -->
<div class="container">
    <div class="row">
<div class="card card-cascade narrower">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).jpg" alt="Card image cap">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body card-body-cascade">
  
      <!-- Label -->
      <h5 class="pink-text pb-2 pt-1 float-right"><i class="fas fa-utensils"></i> {{data.firstname}} {{data.lastname}}</h5>
      <!-- Title -->
      <h4 class="font-weight-bold card-title">{{data.skillname}}</h4>
      <!-- Text -->
      <p class="card-text">{{data.description}}</p>
      <!-- Button -->
      <a class="btn btn-unique">Button</a>
  
    </div>
  
  </div>
  <!-- Card Narrower -->
  </div>
  </div>